@{
  Layout = "_Layout";
}

  <body>
    <div class="container">
      <div class="homePage">
        <h1>Welcome to the Sunny Bakery!</h1>
        <h2>Vendors and Orders</h2>
        <h3><a href='/vendor'>View Vendors</a></h3>
        <h3><a href='/vendor/new'>Add a new Vendor</a></h3>
      </div>
    </div>
  </body> 
