@{
  Layout = "_Layout";
}

  <body>
    <div class="container">
      <div class="homePage">
        <h1 class="homePage"><strong>S U N N Y * B A K E R Y</strong></h1>
        <img src="~/Images/Bread.png">
        <img src="~/Images/Bread6.png">
        
        <h2>Vendors and Orders</h2>
        <h4 id="viewVendorLink"><a href='/vendor'>View Vendors</a></h4>
        <h4 id="addVendorLink"><a href='/vendor/new'>Add Vendor</a></h4>
      </div>
    </div>
  </body> 
