@{
  Layout = "_Layout";
}

<div class="container">
  <h1 class="title"><strong>S U N N Y * B A K E R Y</strong></h1>

  <h2>Vendors and Orders</h2>
  <img src="~/Images/Bread.png">

  <h4 id="addVendorLink"><a href='/vendor/new'>Add Vendor</a></h4>
  <h4 id="rightSideBtn"><a href='/vendor'>View Vendors</a></h4>  
</div>

