@{
  Layout = "_Layout";
}

  <body>
    <div class="container">
      <h1>Welcome to the Sunny Bakery!</h1>
      <h2>Vendors and Orders</h2>
      <h3><a href='/vendor'>View vendors</a></h3>
      <h3><a href='/vendor/new'>Add a new vendor</a></h3>
    </div>
  </body> 
