@{
  Layout = "_Layout";
}
  <body>
    @using VendorOrder.Models;

  <h1>Vendors and Orders</h1>
    @if (Model.Count == 0)
    {
      <p>There are no order in the list.</p>
    }
    

    <a href="/orders/new">Add a new Order.</a>

    
  </body>
