@{
  Layout = "_Layout";
}

<div class="container">
  <h1 class="title"><strong>S U N N Y * B A K E R Y</strong></h1>
  <h2><strong>New Order</strong></h2>

  <div class="newOrder">
    <form action="/vendor/@Model.Id/order" method="post">
      <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">

      <label for="orderDate">Enter Order Date: </label>
      <input id="orderDate" name="orderDate" type="date" required><br>

      <label for="orderDescription">Enter Order Description:</label>
      <select class="form-control" id="orderDescription" name="orderDescription">
        <option value="Bread"checked>Bread</option>
        <option value="Pastry">Pastry</option> 
      </select>  

      <label for="orderPrice">Enter Order Price: </label>
      <input id="orderPrice" name="orderPrice" type="number" min="1" step="1"  onkeyup="if(this.value<0){this.value= this.value * -1}"required><br>

      <button type="submit" id='btn2'>Submit</button>
    </form> 
  </div>
</div>

