<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My To-Do List!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>VendorOrder Details </h1>

      <h3>Vendors: @Model["vendor"].Name</h3>

      <h3>Order Details: @Model["order"].Description</h3>

      <h3>Order Price: @Model["order"].Price</h3>

      <h3>Order Date: @Model["order"].Date</h3>

      <a href='/vendor/@Model["vendor"].Id/order/new'>Add Orders</a>
      <a href='/vendor'>View Vendors</a> 
    </div>
  </body>
</html>